@charset "UTF-8";

/* Shared */

$font : "Adobe Devanagari";
$fontN : adobeDevRegular;
$fontB : adobeDevBold;
$fontI : adobeDevItalic;

$black : rgb(0, 0, 0);
$white : rgb(255, 255, 255);
$gray : rgb(106, 109, 110);
$palette : rgb(242, 242, 255);

body, #container {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	margin: 0px;
	background-color: $palette;
}

/* Fonts */

@font-face {
	font-family: adobeDevRegular;
	src: url('../media/fonts/AD-Regular.woff') format('woff'),
	     url('../media/fonts/AD-Regular.ttf') format('truetype');
}

@font-face {
	font-family: adobeDevBold;
	src: url('../media/fonts/AD-Bold.woff') format('woff'),
	     url('../media/fonts/AD-Bold.ttf') format('truetype');
}

@font-face {
	font-family: adobeDevItalic;
	src: url('../media/fonts/AD-Italic.woff') format('woff'),
	     url('../media/fonts/AD-Italic.ttf') format('truetype');
}

/* Main */

#frame {
	width: 900px;
	height: 600px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 45px;
	background-color: $black;
}

#image {
	width: 400px;
	height: 600px;
	float: left;
}

#hashing {
	width: 500px;
	height: 600px;
	position: absolute;
	margin-left: 400px;
	font-family: $fontN;
	font-size: 15px;
	color: $gray;
	overflow: hidden;
	overflow-wrap: break-word;
}

#number {
	width: 500px;
	height: 600px;
	position: absolute;
	margin-left: 400px;
	line-height: 600px;
	font-family: $fontI;
	font-size: 270px;
	text-align: center;
	color: $white;
}
